.container {
    width: 300px;
    height: min-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: cadetblue;
    color: black;
}

.client-msg {
    margin: 5px 0;
    margin-left: auto;
    padding: 0 5px;    
    border-radius: 5px;
    background-color: mistyrose;
}

.server-msg {
    margin: 5px 0;
    margin-right: auto;
    padding: 0 5px;
    border-radius: 5px;
    background-color: white;
}